<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="resources/css/aspiration.css"> 
</head>
<body>
                    <article class="article">
                        <div class="article-img">
                            <img src="resources/img/main.png" title="" alt="">
                        </div>
                        <div class="article-title">
                            <h6><a href="#">PageUp↑</a></h6>
                            <h2>포트폴리오 - 레이아웃 작성 </h2>
                            <div class="media">
                                <div class="avatar">
                                    <img src="resources/img/avator.png" title="" alt=""><img src="resources/img/avator2.png" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <label>이름 : ○○○ </label>
                                    <span>26 FEB 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <p>1) 레이아웃 짜기</p>
                            <p>　　- PPT 작성시 마스터 페이지를 만들어 동일한 레이아웃으로 최대한 다듬어진 것처럼 보일 수 있게 통일시키는 것이 좋다.</p>
                            <h4>　　- 깔끔하게 보이기 위해 무채색 배경을 추천</h4>
                            <p>　　- 다양하고 이쁜 템플릿은 많이 존재한다. 이쁘고 멋진걸 써도 좋지만, 내용보단 템플릿에 눈이 뺏기지 않도록 깔끔하면서도 단정한 디자인을 골라보자.</p>
                            <blockquote>
                                <img alt="" src="resources/img/포폴2.PNG">
                                <img alt="" src="resources/img/포폴3.PNG"><img alt="" src="resources/img/포폴4.PNG">
                                <!-- <p class="blockquote-footer">Always Goodness<cite title="Source Title">　　　　　　　　　　　　　　　　　　　　　　by. ㅇㅇㅇ님</cite></p> -->
                            </blockquote>
                            <p>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　OurD는 당신의 꿈과 함께합니다. We will be with your Dream.</p>
                        </div>
                        <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>
                    </article>
                    
                    <article class="article">
                        <div class="article-img">
                            <!-- <img src="resources/img/main.png" title="" alt=""> -->
                        </div>
                        <div class="article-title">
                            <h6><a href="#">PageUp↑</a></h6>
                            <h2>포트폴리오 - 목차 만들기</h2>
                            <div class="media">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <label>이름 : ○○○ </label>
                                    <span>26 FEB 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <p>2) 목자 만들기</p>
                            <p>　　- 자기소개, 내 커리어에 대한 나의 생각 비전 등</p>
                            <h4>　　- 업무와 관련된 스킬</h4>
                            <p>　　- 담당 역할, 성과, 실제 진행했던 산출물 화면 예시</p>
                            <blockquote>
										<img alt="" src="resources/img/목차1.PNG"><img alt="" src="resources/img/목차2.PNG">
										<img alt="" src="resources/img/목차3.PNG"><img alt="" src="resources/img/목차4.PNG">
                            </blockquote>
                            <p>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　OurD는 당신의 꿈과 함께합니다. We will be with your Dream.</p>
                        </div>
                        <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>
                    </article>
                    
                                        <article class="article">
                        <div class="article-img">
                            <!-- <img src="resources/img/main.png" title="" alt=""> -->
                        </div>
                        <div class="article-title">
                            <h6><a href="#">PageUp↑</a></h6>
                            <h2>포트폴리오 - 목차 만들기</h2>
                            <div class="media">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <label>이름 : ○○○ </label>
                                    <span>26 FEB 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <p>2) 목자 만들기</p>
                            <p>　　- 자기소개, 내 커리어에 대한 나의 생각 비전 등</p>
                            <h4>　　- 업무와 관련된 스킬</h4>
                            <p>　　- 담당 역할, 성과, 실제 진행했던 산출물 화면 예시</p>
                            <blockquote>
										<img alt="" src="resources/img/목차1.PNG"><img alt="" src="resources/img/목차2.PNG">
										<img alt="" src="resources/img/목차3.PNG"><img alt="" src="resources/img/목차4.PNG">
                            </blockquote>
                            <p>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　OurD는 당신의 꿈과 함께합니다. We will be with your Dream.</p>
                        </div>
                        <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>
                    </article>
                    
                                        <article class="article">
                        <div class="article-img">
                            <!-- <img src="resources/img/main.png" title="" alt=""> -->
                        </div>
                        <div class="article-title">
                            <h6><a href="#">PageUp↑</a></h6>
                            <h2>포트폴리오 - 목차 만들기</h2>
                            <div class="media">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <label>이름 : ○○○ </label>
                                    <span>26 FEB 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <p>2) 목자 만들기</p>
                            <p>　　- 자기소개, 내 커리어에 대한 나의 생각 비전 등</p>
                            <h4>　　- 업무와 관련된 스킬</h4>
                            <p>　　- 담당 역할, 성과, 실제 진행했던 산출물 화면 예시</p>
                            <blockquote>
										<img alt="" src="resources/img/목차1.PNG"><img alt="" src="resources/img/목차2.PNG">
										<img alt="" src="resources/img/목차3.PNG"><img alt="" src="resources/img/목차4.PNG">
                            </blockquote>
                            <p>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　OurD는 당신의 꿈과 함께합니다. We will be with your Dream.</p>
                        </div>
                        <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>
                    </article>
                    
                                        <article class="article">
                        <div class="article-img">
                            <!-- <img src="resources/img/main.png" title="" alt=""> -->
                        </div>
                        <div class="article-title">
                            <h6><a href="#">PageUp↑</a></h6>
                            <h2>포트폴리오 - 목차 만들기</h2>
                            <div class="media">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <label>이름 : ○○○ </label>
                                    <span>26 FEB 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <p>2) 목자 만들기</p>
                            <p>　　- 자기소개, 내 커리어에 대한 나의 생각 비전 등</p>
                            <h4>　　- 업무와 관련된 스킬</h4>
                            <p>　　- 담당 역할, 성과, 실제 진행했던 산출물 화면 예시</p>
                            <blockquote>
										<img alt="" src="resources/img/목차1.PNG"><img alt="" src="resources/img/목차2.PNG">
										<img alt="" src="resources/img/목차3.PNG"><img alt="" src="resources/img/목차4.PNG">
                            </blockquote>
                            <p>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　OurD는 당신의 꿈과 함께합니다. We will be with your Dream.</p>
                        </div>
                        <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>
                    </article>
                    
                    
</body>
</html>